{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}
    {% block main %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-6">
                    <form onsubmit="return false;">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="choose_kid">Name</label>
                                <select id="choose_kid" class="form-control" onchange=bookAutoFill()>
                                    <option selected>Choose...</option>
                                    <option>Calvin</option>
                                    <option>Samuel</option>
                                    <option>Kay</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="choose_book">Book</label>
                                <select id="choose_book" class="form-control">
                                    <option selected>Choose...</option>
                                    <option value="Math_5_4">Math 5/4</option>
                                    <option value="Math_6_5">Math 6/5</option>
                                    <option value="Math_7_6">Math 7/6</option>
                                    <option value="Math_8_7">Math 8/7</option>
                                    <option value="Algebra_1_2">Algebra 1/2</option>
                                    <option value="Algebra_1">Algebra 1</option>
                                    <option value="Algebra_2">Algebra 2</option>
                                    <option value="Advanced_math">Advanced Math</option>
                                    <option value="Calculus">Calculus</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-auto">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="testCheck">
                                    <label class="form-check-label" for="testCheck">Test</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="start_chapter">Start Chapter</label>
                                <input type="text" class="form-control" id="start_chapter" placeholder="Start Chapter">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="start_problem">First Problem</label>
                                <input type="text" class="form-control" id="start_problem" placeholder="First Problem">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="end_chapter">End Chapter</label>
                                <input type="text" class="form-control" id="end_chapter" placeholder="End Chapter">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="end_problem">Last Problem</label>
                                <input type="text" class="form-control" id="end_problem" placeholder="Last Problem">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="date">Date</label>
                                <input type="text" class="form-control" id="date" placeholder="yyyy-hh-mm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="start_time">Start Time</label>
                                <input type="text" class="form-control" id="start_time" placeholder="hh:mm">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="end_time">Stop Time</label>
                                <input type="text" class="form-control" id="end_time" placeholder="hh:mm">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button id="button" type="submit" class="btn btn-primary">Submit</button>
                                <button id="agg_button" type="submit" class="btn btn-secondary" onclick=aggKickoff()>Update Agg Tables</button>
                            </div>
                        </div>
                    </form>
                </div>
{#                Todo: think about adding a view of the data in the following commented out pane#}
{#                <div class="col-6">#}
{#                    hi#}
{#                </div>#}
            </div>
            <div class="row" id="main_content">
        </div>
        </div>

    {% endblock main %}
    {% block content2 %}

    {% endblock content2 %}
    {% block scripts %}
        {{ super() }}

        <script>
            var kid;
            var book;
            var start_chapter;
            var start_problem;
            var end_chapter;
            var end_problem;
            var date;
            var start_time;
            var end_time;
            var alphabet = 'abcdefghijklmnopqrstuvwxyz';
            var miss_list = [];
            var add_miss_list = [];
            var hard_miss_list = [];
            var rem_miss_list = [];
            var test;

            document.getElementById('choose_kid').focus();


            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }
            document.getElementById('date').value = yyyy + '-' + mm + '-' + dd;


            function problem_buttons_create(chapter, chapter_details, problem_details) {
                var main_content = document.getElementById('main_content');

                var div_col = document.createElement('div');
                div_col.className = 'col pb-4';

                var label_button_group = document.createElement('label');
                label_button_group.for = 'button_group' + chapter;
                label_button_group.innerText = 'Lesson ' + chapter;
                div_col.appendChild(label_button_group);

                var div_button_group = document.createElement('div');
                div_button_group.id = 'button_group' + chapter;
                div_button_group.className = 'btn-group';

                for (var i = 0; i < chapter_details.length; i++) {
                    var btn = document.createElement("BUTTON");
                    btn.id = 'btn' + chapter + chapter_details[i];
                    btn.setAttribute('disabled', true);

                    btn.innerHTML = chapter_details[i];
                    btn.value = chapter + '_' + chapter_details[i];
                    div_button_group.appendChild(btn);

                    btn.addEventListener('click', function (event) {
                        if (event.target.style.background === "red") {
                            event.target.style.background = "maroon";

<!--                            if (/[a-z]/.test(event.target.innerHTML)) {-->
<!--                                event.target.style.background = '#AED6F1';-->
<!--                            }-->
<!--                            else {-->
<!--                                event.target.style.background = '#A9DFBF';-->
<!--                            }-->

                            var jsonData_miss = {}

                            jsonData_miss['chapter'] = event.target.value.split('_')[0].toString()
                            jsonData_miss['problem'] = event.target.value.split('_')[1].toString()
                            hard_miss_list.push(jsonData_miss)
                        }
                        else if (event.target.style.background === "maroon") {
<!--                            event.target.style.background = "green";-->

                            if (/[a-z]/.test(event.target.innerHTML)) {
                                event.target.style.background = '#AED6F1';
                            }
                            else {
                                event.target.style.background = '#A9DFBF';
                            }

                            var jsonData_miss = {}

                            jsonData_miss['chapter'] = event.target.value.split('_')[0].toString()
                            jsonData_miss['problem'] = event.target.value.split('_')[1].toString()
                            rem_miss_list.push(jsonData_miss)
                        }
                        else {
                            event.target.style.background = "red";

                            var jsonData = {}
                            jsonData['chapter'] = event.target.value.split('_')[0].toString()
                            jsonData['problem'] = event.target.value.split('_')[1].toString()
                            add_miss_list.push(jsonData)
                        }
                    });
                }
                div_col.appendChild(div_button_group);
                main_content.appendChild(div_col);

                for (var i = 0; i < problem_details.length; i++) {
                    document.getElementById('btn' + chapter + problem_details[i]).disabled = false;
                    if (/[a-z]/.test(problem_details[i])) {
                        document.getElementById('btn' + chapter + problem_details[i]).style.background = '#AED6F1';
                    }
                    else {
                        document.getElementById('btn' + chapter + problem_details[i]).style.background = '#A9DFBF';
                    }
                }

            }

            function createButton() {
                var main_content = document.getElementById('main_content');

                var div_col1 = document.createElement('div');
                div_col1.className = 'col-1 pb-4';

                var div_col2 = document.createElement('div');
                div_col2.className = 'col-1 pb-4';

                var btn = document.createElement("BUTTON");
                btn.id = 'button_record';
                btn.innerHTML = 'Record';
                btn.className = 'btn btn-primary';

                var btn_refresh = document.createElement("BUTTON");
                btn_refresh.id = 'button_refresh';
                btn_refresh.innerHTML = 'Change Information';
                btn_refresh.className = 'btn btn-primary';

                div_col1.appendChild(btn);
                div_col2.appendChild(btn_refresh);
                main_content.appendChild(div_col1);
                main_content.appendChild(div_col2);

                btn.addEventListener('click', function (event) {
                    var request = new XMLHttpRequest();
                    request.responseType = 'json';
                    request.open("POST", "/add_missed_problems", true);
                    request.send(JSON.stringify(
                        {
                            "kid": kid,
                            "book": book,
                            "start_chapter": start_chapter,
                            "start_problem": start_problem,
                            "end_chapter": end_chapter,
                            "end_problem": end_problem,
                            "date": date,
                            "start_time": start_time,
                            "end_time": end_time,
                            "add_miss_list": add_miss_list,
                            "hard_miss_list": hard_miss_list,
                            "rem_miss_list": rem_miss_list,
                            "test": test
                        }
                        )
                    );
                    window.location.href = '/enter_performance';
                });
            };


            function bookAutoFill() {
                var kid_e = document.getElementById("choose_kid");
                if (kid_e.value != "0") {
                    kid = kid_e.options[kid_e.selectedIndex].text;
                    var request = new XMLHttpRequest();
                    request.responseType = 'json';
                    request.open("POST", "/query_book", true);
                    request.onload = function () {
                        var name = request.response;

                        if (name != null) {
                            document.getElementById("choose_book").value = name;
                            document.getElementById('start_chapter').focus();
                        }
                        else {
                            document.getElementById('choose_book').focus();
                        }
                    };
                    request.send(JSON.stringify(
                        {
                            "name": kid,
                        }
                        )
                    );
                }
            }

            document.addEventListener('DOMContentLoaded', init, false);
            function init() {
                function submit() {
                    var kid_e = document.getElementById("choose_kid");
                    kid = kid_e.options[kid_e.selectedIndex].text;
                    var book_e = document.getElementById("choose_book");
                    book = book_e.options[book_e.selectedIndex].value;
                    start_chapter = parseInt(document.getElementById('start_chapter').value);
                    start_problem = document.getElementById('start_problem').value;
                    end_chapter = parseInt(document.getElementById('end_chapter').value);
                    end_problem = document.getElementById('end_problem').value;
                    date = document.getElementById('date').value;
                    start_time = document.getElementById('start_time').value;
                    end_time = document.getElementById('end_time').value;
                    test = document.getElementById('testCheck').checked;

                    var button = document.getElementById("button").style.visibility = 'hidden';
                    var agg_button = document.getElementById("agg_button").style.visibility = 'hidden';

                    if ((kid == 'choose kid') || (book == 'choose book') || (isNaN(start_chapter)) || (start_problem == "") || (isNaN(end_chapter)) || (end_problem == "")){
                        alert('Fill in all fields, dummy.')
                    }
                    else {
                        var request = new XMLHttpRequest();
                        request.responseType = 'json';
                        request.open("POST", "/query_chapter", true);
                        request.onload = function() {
                            var problems_dic = request.response;
                            var chapter_details = problems_dic['total_problems_dic'];
                            var problem_details = problems_dic['problems_dic'];
                            Object.keys(chapter_details).forEach(function(key) {
                                console.log(typeof chapter_details[key])
                                problem_buttons_create(
                                    key,
                                    chapter_details[key].replace(/'/g, '').replace(/ /g, '').replace("]", "").replace("[", "").split(','),
                                    problem_details[key].replace(/'/g, '').replace(/ /g, '').replace("]", "").replace("[", "").split(',')
                                )
                            });
                            createButton()
                        };
                        request.send(JSON.stringify(
                            {
                                "book": book,
                                "start_chapter": start_chapter,
                                "start_problem": start_problem,
                                "end_chapter": end_chapter,
                                "end_problem": end_problem,
                                "test": test
                            }
                            )
                        );
                    }
                    document.getElementById('button').className = "hidden"
                    document.getElementById('agg_button').className = "hidden"
                }
                var button_submit = document.getElementById('button');
                button_submit.addEventListener('click', submit, true);
            }

            function aggKickoff() {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.open("GET", "/aggregate_kickoff", true);
                request.onload = function () {
                    alert("Aggregate tables update in progress")
                };
                request.send();

            }

        </script>
    {% endblock scripts %}
{% endblock body %}
