{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <style>
        div.tooltip {
            position: absolute;
            text-align: left;
            padding: 2px;
            font: 12px sans-serif;
            background: lightyellow;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
    </style>
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}

    {% block main %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#calvin" id="one" data-toggle="tab" onclick=rend("Calvin")>Calvin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#samuel"  id="two" data-toggle="tab" onclick=rend("Samuel")>Samuel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#kay"  id="two" data-toggle="tab" onclick=rend("Kay")>Kay</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="calvin" class="row-12 tab-pane fade show active">
                <div class="card mb-3" id="CalvinAssDiv">
                    <div class="card-header" id="CalvinAssHead">
                        <i class="fas fa-chart-area"></i>
                        Math Scores
                    </div>
                    <div class="card-body" id="CalvinAssScores">
                    </div>
                </div>

                <div class="card mb-3" id="CalvinTimeDiv">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Math Minutes Worked
                    </div>
                    <div class="card-body" id="CalvinTimeScores">
                    </div>
                </div>

            </div>
            <div id="samuel" class="row-12 tab-pane fade ">
                <div class="card mb-3" id="SamuelAssDiv">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Math Scores
                    </div>
                </div>

                <div class="card mb-3" id="SamuelTimeDiv">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Math Minutes Worked
                    </div>
                </div>

            </div>
            <div id="kay" class="row-12 tab-pane fade ">
                <div class="card mb-3" id="KayAssDiv">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Math Scores
                    </div>
                </div>

                <div class="card mb-3" id="KayTimeDiv">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Math Minutes Worked
                    </div>
                </div>

            </div>
        </div>
{#        {% if (name == 'Calvin') or (name == 'Travis') %}#}
{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <i class="fas fa-chart-area"></i>#}
{#                    Calvin Math Daily#}
{#                </div>#}
{#                <div class="card-body" id="CalvinAssScores">#}
{#                </div>#}
    {#            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#            </div>#}
{#        {% endif %}#}
{#        {% if (name == 'Samuel') or (name == 'Travis') %}#}
{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <i class="fas fa-chart-area"></i>#}
{#                    Samuel Math Daily#}
{#                </div>#}
{#                <div class="card-body" id="SamuelAssScores">#}
{#                </div>#}
    {#            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#            </div>#}
{#        {% endif %}#}
{#        {% if (name == 'Kay') or (name == 'Travis') %}#}
{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <i class="fas fa-chart-area"></i>#}
{#                    Kay Math Daily#}
{#                </div>#}
{#                <div class="card-body" id="KayAssScores">#}
{#                </div>#}
    {#            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#            </div>#}
{#        {% endif %}#}

{#        <div class="row">#}
{#            <div class="col-lg-8">#}
{#                <div class="card mb-3">#}
{#                    <div class="card-header">#}
{#                        <i class="fas fa-chart-bar"></i>#}
{#                        Bar Chart Example#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <canvas id="myBarChart" width="100%" height="50"></canvas>#}
{#                    </div>#}
{#                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-4">#}
{#                <div class="card mb-3">#}
{#                    <div class="card-header">#}
{#                        <i class="fas fa-chart-pie"></i>#}
{#                        Pie Chart Example#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <canvas id="myPieChart" width="100%" height="100"></canvas>#}
{#                    </div>#}
{#                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% endblock main %}

    {% block content2 %}
        {{super()}}
    {% endblock content2 %}

    {% block scripts %}
        {{ super() }}

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script>
            var current_tab = "Calvin";
            var tab_width = document.getElementById("CalvinAssScores").offsetWidth;

            df_calvin = timeTransform({{ df_calvin | tojson }});
            df_samuel = timeTransform({{ df_samuel | tojson }});
            df_kay = timeTransform({{ df_kay | tojson }});

            df_calvin_time = timeTransform({{ df_calvin_time | tojson }});
            df_samuel_time = timeTransform({{ df_samuel_time | tojson }});
            df_kay_time = timeTransform({{ df_kay_time | tojson }});

            update_calvin = "{{ update_calvin }}";
            update_samuel = "{{ update_samuel }}";
            update_kay = "{{ update_kay }}";

            function parse(str) {
                var y = str.substr(0, 4),
                    m = str.substr(5, 2),
                    d = str.substr(8, 2);
                return new Date(y, m, d).toLocaleString('en-En',{weekday: "short", month: "short", day: "numeric"});
            };
            function timeTransform(df) {
                for (i = 0; i < df.length; i++) {
                    df[i].date = parse(df[i].date)
                }
                return df
            };

            if (document.getElementById('CalvinAssScores')) {
{#                document.getElementById("CalvinAssUpdate").innerHTML = 'Last Update: ' + update_calvin;#}
                renderAssPlot(df_calvin, 'Calvin');
                renderTimePlot(df_calvin_time, 'Calvin');
            }

            function rend(name) {
                document.getElementById(current_tab + "AssScores").remove();
{#                document.getElementById(current_tab + "AssUpdate").remove();#}
                document.getElementById(current_tab + "TimeScores").remove();
                current_tab = name;

                var divAss = document.createElement('div');
                divAss.id = name + 'AssScores';
                divAss.className = 'card-body';
{#                var divUpdate = document.createElement('div');#}
{#                divUpdate.id = name + 'AssUpdate';#}
{#                divUpdate.className = 'card-footer small text-muted';#}
                var divTime = document.createElement('div');
                divTime.id = name + 'TimeScores';
                divTime.className = 'card-body';


                document.getElementById(name + "AssDiv").appendChild(divAss);
{#                document.getElementById(name + "AssDiv").appendChild(divUpdate);#}
                document.getElementById(name + "TimeDiv").appendChild(divTime);

                if (name == "Calvin") {
{#                    document.getElementById("CalvinAssUpdate").innerHTML = 'Last Update: ' + update_calvin;#}
                    renderAssPlot(df_calvin, 'Calvin');
                    renderTimePlot(df_calvin_time, 'Calvin');
                }
                else if (name == "Samuel") {
{#                    document.getElementById("SamuelAssUpdate").innerHTML = 'Last Update: ' + update_samuel;#}
                    renderAssPlot(df_samuel, 'Samuel');
                    renderTimePlot(df_samuel_time, 'Samuel');
                }
                else {
{#                    document.getElementById("KayAssUpdate").innerHTML = 'Last Update: ' + update_kay;#}
                    renderAssPlot(df_kay, 'Kay');
                    renderTimePlot(df_kay_time, 'Kay');
                }
            }



            function renderAssPlot(df, name) {
                var svg = d3.select("div#"+name+"AssScores").append("svg");

                var leftMargin = 30,
                    rightMargin = 30,
                    rightPanel = 20,
                    axisGap = 15,
                    width = tab_width - leftMargin - axisGap - rightPanel - rightMargin,
                    topMargin = 5,
                    bottomMargin = 100,
                    height = 300 - topMargin - bottomMargin,
                    translateText = "translate(" + (leftMargin + axisGap) + "," + topMargin + ")";

                svg.selectAll("*").remove();
                svg.attr("width", "100%").attr("height", "290px");
                console.log(svg);

                var g_translate_plot = svg.append("g")
                    .attr("transform", translateText);
                var div = d3.select("body").append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0);

                //    X-AXIS
                x = d3.scalePoint()
                    .range([0, width])
                    .domain(df.map(function (d) {
                        return d.date
                    }));
                xAxis = d3.axisBottom(x);
                svg.append("g")
                    .attr("transform", "translate(" + (leftMargin + axisGap) + "," + (topMargin + height + axisGap) + ")")
                    .attr("class", "x axis")
                    .call(xAxis)
                    .selectAll("text")
                    .attr("y", 0)
                    .attr("x", 40)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(90)")
                    .style("text-anchor", "middle")
                    .style("font-size", "10px");

                //    Y-AXIS
                y = d3.scaleLinear()
                    .range([height, 0])
                    .domain([0.5, 1]);
                yAxis = d3.axisLeft(y);
                svg.append("g")
                    .attr("transform", "translate(" + leftMargin + "," + topMargin + ")")
                    .attr("class", "y axis")
                    .call(yAxis);

                //  PATH
                var lineFunction = d3.line()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        return y(d.correct);
                    });
                g_translate_plot
                    .append("path")
                    .data([df])
                    .attr("class", "line")
                    .attr("d", lineFunction)
                    .style("fill", "none")
                    .style("stroke-width", 5)
                    .style("stroke", 'steelblue');

                // PATH FILL BENEATH
                var area = d3.area()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y0(height)
                    .y1(function (d) {
                        return y(d.correct);
                    });
                g_translate_plot
                    .append("path")
                    .data([df])
                    .style("fill", "lightsteelblue")
                    .attr("d", area);

                // POINTS
                g_translate_plot
                    .selectAll("circle")
                    .data(df)
                    .enter().append("circle")
                    .attr("cx", function (d) {
                        return x(d.date)
                    })
                    .attr("cy", function (d) {
                        return y(d.correct)
                    })
                    .attr("r", "3")
                    .on("mouseover", function (d) {
                        div.transition()
                            .duration(200)
                            .style("opacity", .9);
                        div.html(d.date + ": " + d.correct.toFixed(2))
                            .style("left", (d3.event.pageX) + "px")
                            .style("top", (d3.event.pageY - 28) + "px")
                            .attr("width", this.getComputedTextLength)
                            .attr("height", "56px");
                    })
                    .on("mouseout", function (d) {
                        div.transition()
                            .duration(500)
                            .style("opacity", 0);
                    });

                // GOAL LINE
                g_translate_plot
                    .style("stroke-width", 5)
                    .append("line")
                    .attr("x1", 0)
                    .attr("y1", height * .2)
                    .attr("x2", width)
                    .attr("y2", height * .2)
                    .attr("stroke", "DarkSalmon")
                    .style("opacity", .3);

            }

            function renderTimePlot(df, name) {
                var svg = d3.select("div#" + name + "TimeScores").append("svg");

                var leftMargin = 30,
                    rightMargin = 30,
                    rightPanel = 20,
                    axisGap = 15,
                    width = tab_width - leftMargin - axisGap - rightPanel - rightMargin,
                    topMargin = 5,
                    bottomMargin = 100,
                    height = 300 - topMargin - bottomMargin,
                    translateText = "translate(" + (leftMargin + axisGap) + "," + topMargin + ")";

                svg.selectAll("*").remove();
                svg.attr("width", "100%").attr("height", "290px");

                var g_translate_plot = svg.append("g")
                    .attr("transform", translateText);
                var div = d3.select("body").append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0);

                //    X-AXIS
                x = d3.scalePoint()
                    .range([0, width])
                    .domain(df.map(function (d) {
                        return d.date
                    }));
                xAxis = d3.axisBottom(x);
                svg.append("g")
                    .attr("transform", "translate(" + (leftMargin + axisGap) + "," + (topMargin + height + axisGap) + ")")
                    .attr("class", "x axis")
                    .call(xAxis)
                    .selectAll("text")
                    .attr("y", 0)
                    .attr("x", 40)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(90)")
                    .style("text-anchor", "middle")
                    .style("font-size", "10px");

                //    Y-AXIS
                y = d3.scaleLinear()
                    .range([height, 0])
                    .domain([30, 150]);
                yAxis = d3.axisLeft(y);
                svg.append("g")
                    .attr("transform", "translate(" + leftMargin + "," + topMargin + ")")
                    .attr("class", "y axis")
                    .call(yAxis);

                //  PATH
                var lineFunction = d3.line()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        return y(d.duration);
                    });
                g_translate_plot
                    .append("path")
                    .data([df])
                    .attr("class", "line")
                    .attr("d", lineFunction)
                    .style("fill", "none")
                    .style("stroke-width", 5)
                    .style("stroke", 'green');

                // PATH FILL BENEATH
                var area = d3.area()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y0(height)
                    .y1(function (d) {
                        return y(d.duration);
                    });
                g_translate_plot
                    .append("path")
                    .data([df])
                    .style("fill", "lightgreen")
                    .attr("d", area);

                // POINTS
                g_translate_plot
                    .selectAll("circle")
                    .data(df)
                    .enter().append("circle")
                    .attr("cx", function (d) {
                        return x(d.date)
                    })
                    .attr("cy", function (d) {
                        return y(d.duration)
                    })
                    .attr("r", "3")
                    .on("mouseover", function (d) {
                        div.transition()
                            .duration(200)
                            .style("opacity", .9);
                        div.html(d.date + ": " + d.duration.toFixed(2))
                            .style("left", (d3.event.pageX) + "px")
                            .style("top", (d3.event.pageY - 28) + "px")
                            .attr("width", this.getComputedTextLength)
                            .attr("height", "56px");
                    })
                    .on("mouseout", function (d) {
                        div.transition()
                            .duration(500)
                            .style("opacity", 0);
                    });

                // GOAL LINE
                var crit_dur = [90, 120];
                for (var i=0; i < 2; i++) {
                    g_translate_plot
                        .style("stroke-width", 5)
                        .append("line")
                        .attr("x1", 0)
                        .attr("y1", y(crit_dur[i]))
                        .attr("x2", width)
                        .attr("y2", y(crit_dur[i]))
                        .attr("stroke", "DarkSalmon")
                        .style("opacity", .3);
                }
            }


        </script>


    {% endblock scripts %}

{% endblock body %}
