{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}
    {% block main %}
        You quit successfully. See-ya, dude!
    {% endblock main %}
    {% block content2 %}
    {% endblock content2 %}
    {% block scripts %}
        {{ super() }}

        <script>
            var request = new XMLHttpRequest();
            request.open("POST", "/killer", true);
            request.send(JSON.stringify(
                {}
            ));
        </script>


    {% endblock scripts %}

{% endblock body %}
