{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <style>
        button {
            visibility: visible;
        }
        img {
            visibility: visible;
        }

        .btn-group-vertical.center {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        .center-block {
            display: block;
            margin: 1rem auto;
            text-align: center;
        }

        .btn-group-vertical > button {
            margin-bottom: 10px;
            border-radius: 10px !important;
        }
    </style>
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}
    {% block main %}

        <div class="card">
            <div class="card-header small text-muted">
                <div class="row">
                    <div class="col-6"><p id="ind" class="text-left mb-0"></p></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
{#                        <div class="row">#}
                            <div class="col box">
                                <img id="hero_image" style="width:100%">
                            </div>
                            <div class="w-100"></div>
                        <div class="row">
                            <div class="col-6 box" id="next">
                                <label class="btn">
                                    <img id="reshuffle" style="width:50%" src="../static/iconfinder_icon-shuffle_211887.png" title="Shuffle Deck">
                                    <input type="radio" id="next_card" value="val1" class="d-none" autocomplete="off" onClick=shuffle_deck()>
                                </label>
                            </div>
                            <div class="col-6 box" id="next">
                                <label class="btn">
                                    <img id="arrow" style="width:50%" src="../static/iconfinder_arrow-right-01_186409.png" title="Next Card">
                                    <input type="radio" id="next_card" value="val1" class="d-none" autocomplete="off" onClick=next_card()>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col box" id="one">
                                <label class="btn btn-light">
                                    <img id="alternative_hidden1" style="width:100%">
                                    <input type="radio" id="radio1" value="val1" class="d-none" autocomplete="off" onClick=right_wrong(0)>
                                </label>
                            </div>
                            <div class="col box" id="two">
                                <label class="btn btn-light">
                                    <img id="alternative_hidden2" style="width:100%">
                                    <input type="radio" id="radio2" value="val2" class="d-none" autocomplete="off" onClick=right_wrong(1)>
                                </label>
                            </div>
                            <div class="w-100"></div>
                            <div class="col box" id="three">
                                <label class="btn btn-light">
                                    <img id="alternative_hidden3" style="width:100%">
                                    <input type="radio" id="radio3" value="val3" class="d-none" autocomplete="off" onClick=right_wrong(2)>
                                </label>
                            </div>
                            <div class="col box" id="four">
                                <label class="btn btn-light">
                                    <img id="alternative_hidden4" style="width:100%">
                                    <input type="radio" id="radio4" value="val14" class="d-none" autocomplete="off" onClick=right_wrong(3)>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">
                <div class="row ">
                    <div class="col-6"><p id="b_ind" class="text-left mb-0"></p></div>
                </div>
            </div>
        </div>

    {% endblock main %}
    {% block content2 %}
    {% endblock content2 %}
    {% block scripts %}
        {{ super() }}

        <script>
            cards_ordered = {{cards | tojson}}
            alternatives = {{ alts | tojson}}
            var cards_shuffled;
            var index = 0;
            var correct = 0;
            var completed = 0;
            var first_push = true;
            var alts;
            var correct_bin = false;
            var go_next = false;

            document.getElementById('b_ind').innerHTML = "Completed: " + 0 + " / " + cards_ordered.length;
            document.getElementById('ind').innerHTML = "Correct: " + 0 + " / " + completed;

            function shuffle(array) {
                var currentIndex = array.length, temporaryValue, randomIndex;

                // While there remain elements to shuffle...
                while (0 !== currentIndex) {

                    // Pick a remaining element...
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    // And swap it with the current element.
                    temporaryValue = array[currentIndex];
                    array[currentIndex] = array[randomIndex];
                    array[randomIndex] = temporaryValue;
                }
                return array;
            }
            cards_shuffled = shuffle(cards_ordered)
            alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])

            document.getElementById('hero_image').src = cards_shuffled[index][0];
            document.getElementById('alternative_hidden1').src = alts[0]
            document.getElementById('alternative_hidden2').src = alts[1]
            document.getElementById('alternative_hidden3').src = alts[2]
            document.getElementById('alternative_hidden4').src = alts[3]


            function database_call(payload) {
                var request = new XMLHttpRequest();
                request.open("POST", "/mongo_call_vocab", true);
                request.send(JSON.stringify(payload));
            }

            function next_card() {
                if (go_next) {
                    go_next = false;
                    index++;
                    completed++;
                    first_push = true;

                    document.getElementById('b_ind').innerHTML = "Completed: " + completed + " / " + cards_ordered.length;
                    document.getElementById('ind').innerHTML = "Correct: " + correct + " / " + completed;

                    document.getElementById('one').style.backgroundColor = "white";
                    document.getElementById('two').style.backgroundColor = "white";
                    document.getElementById('three').style.backgroundColor = "white";
                    document.getElementById('four').style.backgroundColor = "white";

                    alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])
                    document.getElementById('hero_image').src = cards_shuffled[index][0];

                    document.getElementById('alternative_hidden1').src = alts[0];
                    document.getElementById('alternative_hidden2').src = alts[1];
                    document.getElementById('alternative_hidden3').src = alts[2];
                    document.getElementById('alternative_hidden4').src = alts[3];

                    database_call(
                        {
                            "page": "Quiz",
                            "button": "Next",
                            "radio_button_chosen": "None",
                            "prompt": cards_shuffled[index][0],
                            "alternatives": alts,
                            "answer_card": cards_shuffled[index][1],
                            "chosen_card": "None",
                            "completed": completed,
                            "correct": correct,
                            "index": index,
                            "timestamp": Math.floor(Date.now() / 1000)
                        }
                    )
                }
                else {
                    alert('You need to choose an answer!')
                }
            }

            function shuffle_deck() {
                index = 0;
                completed = 0;
                correct = 0;
                first_push = true;
                go_next=false;
                cards_shuffled = shuffle(cards_ordered)
                alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])

                document.getElementById('b_ind').innerHTML = "Completed: " + completed + " / " + cards_ordered.length;
                document.getElementById('ind').innerHTML = "Correct: " + correct + " / " + completed;

                document.getElementById('one').style.backgroundColor = "white";
                document.getElementById('two').style.backgroundColor = "white";
                document.getElementById('three').style.backgroundColor = "white";
                document.getElementById('four').style.backgroundColor = "white";

                document.getElementById('hero_image').src = cards_shuffled[index][0];

                document.getElementById('alternative_hidden1').src = alts[0];
                document.getElementById('alternative_hidden2').src = alts[1];
                document.getElementById('alternative_hidden3').src = alts[2];
                document.getElementById('alternative_hidden4').src = alts[3];

                database_call(
                    {
                        "page": "Quiz",
                        "button": "Reshuffle",
                        "radio_button_chosen": "None",
                        "prompt": cards_shuffled[index][0],
                        "alternatives": alts,
                        "answer_card": cards_shuffled[index][1],
                        "chosen_card": "None",
                        "completed": completed,
                        "correct": correct,
                        "index": index,
                        "timestamp": Math.floor(Date.now() / 1000)
                    }
                )
            }

            function right_wrong(radio) {
                go_next = true;
                document.getElementById('one').style.backgroundColor = "white";
                document.getElementById('two').style.backgroundColor = "white";
                document.getElementById('three').style.backgroundColor = "white";
                document.getElementById('four').style.backgroundColor = "white";
                document.getElementById("next_card").disabled = false;


                correct_bin = (alts[radio] == cards_shuffled[index][1])
                if (correct_bin) {
                    if (first_push) {
                        correct++
                    }
                    if (radio == 0) {
                        document.getElementById('one').style.backgroundColor = "green";
                    }
                    else if (radio == 1) {
                        document.getElementById('two').style.backgroundColor = "green";
                    }
                    else if (radio == 2) {
                        document.getElementById('three').style.backgroundColor = "green";
                    }
                    else if (radio == 3) {
                        document.getElementById('four').style.backgroundColor = "green";
                    }
                }
                else {
                    if (radio == 0) {
                        document.getElementById('one').style.backgroundColor = "red";
                    }
                    else if (radio == 1) {
                        document.getElementById('two').style.backgroundColor = "red";
                    }
                    else if (radio == 2) {
                        document.getElementById('three').style.backgroundColor = "red";
                    }
                    else if (radio == 3) {
                        document.getElementById('four').style.backgroundColor = "red";
                    }
                }
                first_push = false;

                database_call(
                    {
                        "page": "Quiz",
                        "button": "Submit",
                        "radio_button_chosen": radio,
                        "prompt": cards_shuffled[index][0],
                        "alternatives": alts,
                        "answer_card": cards_shuffled[index][1],
                        "chosen_card": alts[radio],
                        "completed": completed,
                        "correct": correct,
                        "index": index,
                        "timestamp": Math.floor(Date.now() / 1000)
                    }
                )
            }
        </script>


    {% endblock scripts %}

{% endblock body %}
